.perfil-div{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 10%;
    justify-content: flex-start;
}

.perfil-div p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin: 10px 0;
}