.login-control{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-control aside{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
}

.perfil-div{
    height: auto;
}

.buttons{
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.image{
    border: 2px solid black;
    border-radius: 10px;
    height: 150px;
    margin: 0;
    padding: 0;
    width: 150px;
}

.image img{
    border-radius: 10px;
    height: 150px;
}

.playlist ul{
    border:2px solid black;
    border-radius: 10px;
    padding-right: 10px;
}

#search{
    border: 2px solid black;
    border-radius: 4px 0 0 4px;
    border-right: 0;
    margin-bottom: 3px;
}

.pesquisa button{
    background-color: white;
    border: 2px solid black;
    border-left: 0;
    border-radius: 0 4px 4px 0;
}

.pesquisa button:hover{
    cursor: pointer;
}

.opcoes{
    align-items: center;
    display: flex;
    font-size: 10pt;
}

.opcoes span{
    width: 30%;
}

.opcoes span input:hover{
    cursor: pointer;
}

.opcoes span p{
    margin: 2px;
}
